/* REINICIO CSS */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

/* IMÁGENES */
.image-section {
    text-align: center;
}

/* Estilo para las imágenes */
.styled-image {
    margin: 0.85%;
    max-width: 60%;
    height: auto;
    border: 3px solid #2ECC71;
    border-radius: 15px;
    transition: transform 0.35s ease-in-out;
}

/* Efecto al pasar el ratón por encima de las imágenes */
.styled-image:hover {
    transform: scale(1.06);
    box-shadow: 15px 15px 10px 10px #312b26;
    -webkit-box-shadow: 0px 0px 4px 4px #01eeff;
}

/* Contenedor de imágenes con texto */
.image-container {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilo para el texto sobre las imágenes */
.styled-image::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* A */
a {
    color: #01eeff;
}

/* BODY */
body {
    background-color: #070707;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto';
}

body.index {
    background-image: url(imgs/inicio-fondos-iconos/letras.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.elcentro {
    display: flex;
    flex-wrap: wrap;
}

body#elcentro section {
    text-align: center;
    box-sizing: border-box;
    width: 59%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #FFFFFF;
    background-color: #001F3F;
    font-family: 'Roboto';
}

#index, #oferta-educativa, #administracion, #orientacion, #aula-virtual, #contacto {
    text-align: center;
    box-sizing: border-box;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #FFFFFF;
    background-color: #001F3F;
    font-family: 'Roboto';
    margin-bottom: 85px;
}

#administracion {
    width: 48%;
}

#contacto {
    width: 40%;
}

#orientacion {
    width: 50%;
}

#aula-virtual {
    width: 35%;
}

#history { 
    text-align: justify;
}

#elcentrotext {
    text-align: justify;
}

/* LOGO */
.title {
    width: 10%;
    max-width: 10%;
    padding: 0.5%;
}

/* ESTILOS PARA EL MENÚ */
header {
    text-align: center;
    background-image: url(imgs/inicio-fondos-iconos/pizarra-borrada.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #001F3F;
}

nav ul {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    padding: 0;
    margin: 0;
    background-color: #001F3F;
    overflow: hidden;
    display: inline-block;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 18px 28px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #333333;
    color: #2ECC71;
}

/* ESTILOS PARA EL MENÚ DESPLEGABLE */
nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(0,31,61,0.8);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* FOOTER */
footer {
    background-color: #001F3F;
    color:#2ECC71;
    font-family: 'Montserrat';
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    bottom:0px;
    width: 100%;
    height: 3%;
}

.footer-contact-info {
    width: 48%;
    text-align: center;
}

.footer-mapa {
    text-align: center;
    width: 48%;
}

/* INICIO */
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#001F3F;
    font-family: 'Roboto', sans-serif;
    font-size: 185%;
}

#img-welcome {
    width: 52.5%;
    height: 50%;
    position: relative;
    top: 22.8%;
    opacity: 70%;
    border-radius: 50%;
    margin-bottom: 1.5%;
}

#welcome {
    font-family: 'Montserrat';
    text-align: center;
    margin: 1.4%;
    font-size: 200%;
}

/* EL CENTRO */
#history {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 16px;
    color: #ffffff;
}

#history p {
    margin-bottom: 15px;
}

/* ADMINISTRACIÓN */
#administracion {
    max-width: 800px;
    line-height: 1.6;
    font-size: 16px;
    color: #ffffff;
}

#administracion p {
    margin-bottom: 15px;
}

/* ORIENTACIÓN */
#orientacion {
    max-width: 800px;
    line-height: 1.6;
    font-size: 16px;
    color: #ffffff;
}

#orientacion p {
    margin-bottom: 15px;
}

/* CONTACTO */
#contacto {
    max-width: 800px;
    line-height: 1.6;
    font-size: 16px;
    color: #ffffff;
}

#contacto p {
    margin-bottom: 15px;
}

/* AULA VIRTUAL */
#aula-virtual {
    color: #FFFFFF;
    padding: 20px;
    font-family: 'Roboto'
}

#aula-virtual h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Formulario de login */
#aula-virtual form {
    max-width: 250px;
    margin: 0 auto;
}

#aula-virtual label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 8px;
}

#aula-virtual input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    font-size: 1em;
    border: 1px solid #2ECC71;
    border-radius: 5px;
}

#aula-virtual input[type="submit"] {
    background-color: #2ECC71;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#aula-virtual input[type="submit"]:hover {
    background-color: #001F3F;
}

/* CONTACTO */
#contacto {
    color: #FFFFFF;
    padding: 20px;
    font-family: 'Roboto'
}

#contacto h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Información de contacto */
#informacion-contacto {
    margin-bottom: 30px;
}

#informacion-contacto h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Formulario de contacto */
#formulario-contacto {
    max-width: 600px;
    margin: 0 auto;
}

#formulario-contacto h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: 'Roboto'
}

#formulario-contacto form {
    display: flex;
    flex-direction: column;
}

#formulario-contacto label {
    font-size: 1.2em;
    margin-bottom: 8px;
}

#formulario-contacto input, #formulario-contacto textarea {
    padding: 10px;
    margin-bottom: 16px;
    font-size: 1em;
    border: 1px solid #001F3F;
    border-radius: 5px;
}

#formulario-contacto textarea {
    resize: vertical;
}

#formulario-contacto input[type="submit"] {
    background-color: #2ECC71;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#formulario-contacto input[type="submit"]:hover {
    background-color: #2ECC71;
}